
    .container{
        height: 100%;
        align-content: center;
    }
    
    .card{
        height: 300px;
        margin-top: auto;
        margin-bottom: auto;
        width: 400px;
        background-color: rgb(240, 191, 241) !important;
    }
    
    .card-header h3{
        color: white;
        margin-left: 150px;
    }
    
    input {
        background-color:rgb(196, 149, 196);
    }

    input[type=text] {
        background-color:rgb(196, 149, 196);
        color:white;
    }

    input[type=password] {
        background-color:rgb(196, 149, 196);
        color:white;
    }

    .card-body{
        margin-left: 70px;
        margin-top: 10px;
    }
    
    input:focus{
        outline: 0 0 0 0  !important;
        box-shadow: 0 0 0 0 !important;
    
    }
    
    
    .links{
        color: white;
    }
    
    .links a{
        margin-left: 4px;
    }
    