
    .container{
        height: 100%;
        align-content: center;
    }
    
    .card{
        height: 300px;
        margin-top: auto;
        margin-bottom: auto;
        width: 400px;
        background-color: rgb(253, 226, 235) !important;
    }
    
    .card-header h3{
        color: white;
        margin-left: 150px;
    }
    
    input {
        background-color:white;
    }

    input[type=text] {
        background-color:white;
        color:black;
    }

    input[type=password] {
        background-color:white;
        color:black;
    }

    .card-body{
        margin-left: 70px;
        margin-top: 50px;
    }
    
    input:focus{
        outline: 0 0 0 0  !important;
        box-shadow: 0 0 0 0 !important;
    }
    
    
    .links{
        color: white;
    }
    
    .links a{
        margin-left: 4px;
    }

    .mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent {
        background-color: white;
    }
    
    .mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent {
        color: palevioletred;
    }
    