

<mat-card class="example-card">

    <mat-card-header></mat-card-header>
  
    <mat-card-content> 
  
        <form  class="text-center border-silver" #user="ngForm" (ngSubmit)="onSubmit(user.value)">
  
          <mat-form-field class="input-full-width">
            <input matInput type="text" name="firstName" ngModel placeholder="First name" required> 
          </mat-form-field>
    
          <br>
          <br>

          <mat-form-field class="input-full-width">
            <input matInput type="text" name="lastName" ngModel placeholder="Last name" required> 
          </mat-form-field>
    
          <br>
          <br>

          <mat-form-field class="input-full-width">
            <input matInput type="text" name="email" ngModel placeholder="Email" required> 
          </mat-form-field>
    
          <br>
          <br>

          <mat-form-field class="input-full-width">
            <input matInput type="text" name="password" ngModel placeholder="Password" required> 
          </mat-form-field>
    
          <br>
          <br>
    
          <mat-form-field class="input-full-width">
            <input matInput type="text" name="phoneNumber" ngModel placeholder="phone number" required> 
          </mat-form-field>
    
          <br>
          <br>

          <mat-form-field class="input-full-width">
            <input matInput type="text" name="dateOfBirth" ngModel placeholder="dd-mm-yyyy" required> 
          </mat-form-field>
    
          <br>
          <br>
    
          <mat-form-field class="input-full-width">     
            <mat-select name="language" ngModel>
                <mat-option value="" disabled>Language </mat-option>
                <mat-option *ngFor = "let l of languages" [value]="l.value">
                    {{l.viewValue}}
                </mat-option>
            </mat-select>
          </mat-form-field> 
        
          <br>
          <br>
    
          <mat-form-field class="input-full-width">     
            <mat-select name="country" ngModel>
                <mat-option value="" disabled>Country </mat-option>
                <mat-option *ngFor = "let c of countries" [value]="c.value">
                    {{c.viewValue}}
                </mat-option>
            </mat-select>
          </mat-form-field> 
        
          <br>
          <br>
    
          <div class="example-button-container">
            <button class="float-right" type="submit" id="submitButton" mat-mini-fab aria-label="Example icon button with a how to reg icon">
              <mat-icon> how_to_reg </mat-icon></button>
          </div>
    
          <br>
          <br>
  
        </form>

            <div class="d-flex justify-content-center links">
                Already have an account?<a href="#" [routerLink]="['/booky', 'logIn']">Sign In</a>
            </div>
      
    </mat-card-content>
  
    <mat-card-actions>
        
    </mat-card-actions>
    
  </mat-card>