<div class="container-fluid" >

    <div class="container p-3 my-3 text-white" id="profile">

        <h1>Profile:</h1>

    </div>

    <form (ngSubmit)="update()">

        <div class="container">

            <h1>Personal Information:</h1>


            <mat-form-field class="example-full-width">
                <label>First name:</label>
                <input type="text" class="form-control" id="firstName"
                required
                [(ngModel)]="user.firstName" name="firstName"
                #firstName="ngModel">
            </mat-form-field>

            <br>

            <mat-form-field class="example-full-width">
                <label>Last name:</label>
                <input type="text" class="form-control" id="lastName"
                required
                [(ngModel)]="user.lastName" name="lastName"
                #lastName="ngModel">
            </mat-form-field>

            <br>

            <mat-form-field class="example-full-width">
                <label>Email:</label>
                <input type="text" class="form-control" id="email"
                required
                [(ngModel)]="user.email" name="email"
                #email="ngModel">
            </mat-form-field>

            <br>

            <div class="example-button-container float-right">
                <button mat-mini-fab aria-label="Example icon button with a save alt icon" >
                    <mat-icon matTooltip="Save Changes" type="submit" >save_alt</mat-icon>
                </button>
            </div>
    
        </div>

    </form>

</div>
