<div class="container-fluid" >

    <div class="container p-3 my-3 text-white" id="profile">

        <h1>Profile:</h1>
        <!-- <ul id="test" *ngFor="let u of users"> -->
            {{user.firstName}} {{user.lastName}}
        <!-- </ul> -->

    </div>


    <div class="container p-3 my-3 border">

        <h1>Personal Information:</h1>
        
        <table class="table table-striped">
            
            <tbody>

            <!-- <tr id="test"  *ngFor="let u of users"> -->

                <mat-form-field class="example-full-width">
                    <mat-label>First name:</mat-label>
                    <input matInput value="{{user.firstName}}">
                </mat-form-field>

                <br>

                <mat-form-field class="example-full-width">
                    <mat-label>Last name:</mat-label>
                    <input matInput value="{{user.lastName}}">
                </mat-form-field>

                <br>

                <mat-form-field class="example-full-width">
                    <mat-label>Email:</mat-label>
                    <input matInput value="{{user.email}}">
                </mat-form-field>

                <br>

                <mat-form-field class="example-full-width">
                    <mat-label>Password:</mat-label>
                    <input matInput value="{{user.password}}">
                </mat-form-field>

                <br>

                <mat-form-field class="example-full-width">
                    <mat-label>Phone number:</mat-label>
                    <input matInput value="{{user.phoneNumbar}}">
                </mat-form-field>

                <br>

                <mat-form-field class="example-full-width">
                    <mat-label>Language:</mat-label>
                    <input matInput value="{{user.language.name}}">
                </mat-form-field>
            
                <br>

                <mat-form-field class="example-full-width">
                    <mat-label>Country:</mat-label>
                    <input matInput value="{{user.country.name}}">
                </mat-form-field>

            <!-- </tr> -->

                <br>

                <div class="example-button-container">
                    <button class="float-right" mat-mini-fab aria-label="Example icon button with a save alt icon" >
                        <mat-icon matTooltip="Save Changes" >save_alt</mat-icon>
                    </button>
                </div>

                <br>
            
            </tbody>

        </table>

    </div>

</div>
