<div class="container-fluid" >

    <div class="container p-3 my-3 text-white" id="profile">

        <h1>Profile:</h1>
        <!-- <ul id="test" *ngFor="let u of users"> -->
            <!-- {{user.firstName}} {{user.lastName}} -->
        <!-- </ul> -->

    </div>

    <form (ngSubmit)="update()">

        <div class="container p-3 my-3 border">

            <div class="intro">
                <h1>Personal Information:</h1>
            </div>
     
            <div class="myPage">
            
                <table class="table table-striped">
                    
                    <tbody>
    
                    <!-- <tr id="test"  *ngFor="let u of users"> -->
                        <!-- matInput -->
    
                        <mat-form-field class="example-full-width">
                            <label>First name:</label>
                            <input type="text" class="form-control" id="firstName"
                            required
                            [(ngModel)]="user.firstName" name="firstName"
                            #firstName="ngModel">
                        </mat-form-field>
    
                        <br>
    
                        <mat-form-field class="example-full-width">
                            <label>Last name:</label>
                            <input type="text" class="form-control" id="lastName"
                            required
                            [(ngModel)]="user.lastName" name="lastName"
                            #lastName="ngModel">
                        </mat-form-field>
    
                        <br>
    
                        <mat-form-field class="example-full-width">
                            <label>Email:</label>
                            <input type="text" class="form-control" id="email"
                            required
                            [(ngModel)]="user.email" name="email"
                            #email="ngModel">
                        </mat-form-field>
    
                        <br>
    
                        <mat-form-field class="example-full-width">
                            <label>Password:</label>
                            <input type="text" class="form-control" id="Password"
                            required
                            [(ngModel)]="user.password" name="Password"
                            #password="ngModel">                        
                        </mat-form-field>

                        <br>
    
                        <mat-form-field class="example-full-width">
                            <label>Phone number:</label>
                            <input type="text" class="form-control" id="phoneNumber"
                            required
                            [(ngModel)]="user.phoneNumber" name="phoneNumber"
                            #phoneNumber="ngModel">                        
                        </mat-form-field>
    
                        <br>
    
                        <mat-form-field class="example-full-width">
                            <label>Language:</label>
                            <input type="text" class="form-control" id="language"
                            required
                            [(ngModel)]="user.language_code.name" name="language"
                            #language="ngModel">  
                        </mat-form-field>
                    
                        <br>
    
                        <mat-form-field class="example-full-width">
                            <label>Country:</label>
                            <input type="text" class="form-control" id="country"
                            required
                            [(ngModel)]="user.country_code.name" name="country"
                            #country="ngModel">  
                        </mat-form-field>
    
                    <!-- </tr> -->
    
                        <br>
    
                        <div class="example-button-container">
                            <button class="float-right" mat-mini-fab aria-label="Example icon button with a save alt icon" >
                                <mat-icon matTooltip="Save Changes" type="submit" >save_alt</mat-icon>
                            </button>
                        </div>
    
                        <br>
                    
                    </tbody>
    
                </table>
    
            </div>
            
    
        </div>


    </form>

</div>
