<div class="container p-3 my-3 border">

  <mat-card class="example-card">

    <tr id="test"  *ngFor="let book of books">
        <mat-card-header>
    
        <mat-card-title><mat-icon> account_circle </mat-icon> Booky Admin</mat-card-title>
        
        </mat-card-header>

        <mat-card-content> 

          <div class="intro">
            <h4>{{book.bookName}} written by: {{book.authorName}}</h4>
          </div>

          <div class="content">
            <h5>Book Type: {{book.type}} Language: {{book.language.name}}</h5>
            <p>Brief describtion: {{book.describtion}}</p>
          </div>
          

          <div class="detail">
            <h6>Published on: {{book.time}}</h6>
          </div>

        </mat-card-content>
        
    
        <mat-card-actions>
    
          <div class="actions">

            <button mat-mini-fab aria-label="Example icon button with a favorite icon" href="#"><mat-icon> favorite </mat-icon></button>
            
            <button mat-mini-fab aria-label="Example icon button with a delete icon" (click)="openDialog(book)"><mat-icon> delete </mat-icon></button>
    
          </div>
            
        </mat-card-actions>

        <mat-divider></mat-divider>
        <br>
    </tr>
    
</mat-card>


</div>





  

