<div class="container p-3 my-3 border">

  <mat-card class="example-card">

    <tr id="test"  *ngFor="let book of books">
        <mat-card-header>
    
        <mat-card-title><mat-icon> account_circle </mat-icon> Booky Admin</mat-card-title>
        
        </mat-card-header>

        <mat-card-content> 

          <img class="image" src="{{book.image}}" />
          <div class="intro">
            <br>
            <h4>{{book.bookName}}</h4>
            <h4>written by: {{book.authorName}}</h4>
          </div>

          <div class="content">
            <h5>Book Type: {{book.bookType}} Language: {{book.language_code.name}}</h5>
            <p>Brief describtion: {{book.describtion}}</p>
          </div>
          

          <div class="detail">
            <h6>Published on: {{book.time}}</h6>
          </div>

        </mat-card-content>
        
    
        <mat-card-actions>
    
          <div class="actions">

            <button mat-mini-fab aria-label="Example icon button with a favorite icon" href="#" *ngIf="currentUser.usertype == 'Reader'"><mat-icon matTooltip="Add to my favorite" (click)="AddToMyList(book.id)" *ngIf="currentUser.usertype == 'Reader'"> favorite </mat-icon></button>
            
            <button mat-mini-fab aria-label="Example icon button with a delete icon" (click)="openDialogDelete(book)" *ngIf="currentUser.usertype == 'Admin'"><mat-icon matTooltip="Delete post" *ngIf="currentUser.usertype == 'Admin'"> delete </mat-icon></button>
    
            <button mat-mini-fab aria-label="Example icon button with a edit icon" (click)="openDialogUpdate(book)" *ngIf="currentUser.usertype == 'Admin'"><mat-icon matTooltip="Edit post" *ngIf="currentUser.usertype == 'Admin'"> edit </mat-icon></button>

          </div>
            
        </mat-card-actions>

        <mat-divider></mat-divider>
        <br>
    </tr>
    
</mat-card>


</div>

<br>
<br>





  

