<div class="container">
    <div class="row">
      
      <div class="col-sm">
        <div class="searchcontainer p-3 my-3 border">
          <mat-card-header>
            <mat-card-title>Filter Books:</mat-card-title>
          </mat-card-header>
      
          <mat-card-content>

      
            <p>
              <mat-radio-group aria-label="Select an option" ng-init="books" [(ngModel)]="selectionLanguage" 
              (ngModelChange)="filterbooksByLanguage()">
                <br>
                <label>Book Language:</label>
                <br>
                <mat-radio-button type="radio" name="filter" value="EN">English</mat-radio-button>
                <mat-radio-button type="radio" name="filter" value="FR">French</mat-radio-button>
                <mat-radio-button type="radio" name="filter" value="AR">Arabic</mat-radio-button>
                <br>
              </mat-radio-group>
            </p>
      
            <br>

            <h4>Book type:</h4>
            <mat-form-field appearance="fill">
              <mat-label>Type</mat-label>
              <mat-select ng-model [(ngModel)]="SelectionType" (ngModelChange)="foundDataByType()">
                <mat-option *ngFor="let t of types" name="filter" [value]="t.value" (click)="getBooksByBookType()">
                  {{t.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <br>

          </mat-card-content>

          <mat-card-actions>

            <div class="actions">

              <button mat-mini-fab aria-label="Example icon button with a filter alt icon" (click)="getBooksByTypeAndLanguage()"><mat-icon matTooltip="Filter"> filter_alt </mat-icon></button>

              <button class="float-right" mat-mini-fab aria-label="Example icon button with a cleaning services icon" (click)="ClearFilters()"><mat-icon matTooltip="Clear filters"> cleaning_services </mat-icon></button>
  
            </div>

          </mat-card-actions>
          
        </div>
      </div>
  
  
      <!-- FOUND Books -->
      <div class="col-sm">
          <div class="container p-3 my-3 border">

          <form class="example-form float-right">
            <mat-form-field class="example-full-width">
              <mat-label>Search</mat-label>
              <input type="text" matInput placeholder="Search for Book"
              id="search-text" 
              aria-describedby="search-text" 
              name="searchText"
              [(ngModel)]="searchText" 
              autofocus>
            </mat-form-field>
  
            <button class="float-right" mat-icon-button ria-label="" (click)="getBooksByChars()">
              <mat-icon>search</mat-icon>
            </button>
  
          </form>

          <br>
  
  
          <mat-card-header>
            <mat-card-title>Found Books:</mat-card-title>
          </mat-card-header>

          <tr id="bookId"  *ngFor="let book of books">
            
              <td class="font-italic"> 
                <img class="image" src="{{book.image}}" />
                {{book.bookName}} - {{book.authorName}}<br>
                <div class="btn">
                  <button mat-mini-fab aria-label="Example icon button with a favorite icon" href="#" *ngIf="currentUser.usertype == 'Reader'"><mat-icon matTooltip="Add to my favorite" (click)="AddToMyList(book.id)" *ngIf="currentUser.usertype == 'Reader'"> favorite </mat-icon></button>
                </div>
                <br>
                <br>
                <mat-divider></mat-divider>
                <br>
              </td>

          </tr>
  
          <mat-card-content>
          </mat-card-content>
  
        </div>
      </div>
  
    </div>
  </div>
  
