<div class="container">
    <div class="row">
      
      <div class="col-sm">
        <mat-card class="filter-card">
          <mat-card-header>
            <mat-card-title>Filter Books:</mat-card-title>
          </mat-card-header>
      
          <mat-card-content>

      
            <p>
              <mat-radio-group aria-label="Select an option" ng-init="books" [(ngModel)]="selectionLanguage" 
              (ngModelChange)="filterbooksByLanguage()">
                <br>
                <label>Book Language:</label>
                <br>
                <mat-radio-button type="radio" name="filter" value="EN">English</mat-radio-button>
                <mat-radio-button type="radio" name="filter" value="FR">French</mat-radio-button>
                <mat-radio-button type="radio" name="filter" value="AR">Arabic</mat-radio-button>
                <br>
              </mat-radio-group>
            </p>
      
            <br>

            <h4>Book type:</h4>
            <mat-form-field appearance="fill">
              <mat-label>Type</mat-label>
              <mat-select ng-model [(ngModel)]="SelectionType" (ngModelChange)="foundDataByType()">
                <mat-option *ngFor="let t of types" name="filter" [value]="t.value" (click)="getBooksByBookType()">
                  {{t.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <br>

          </mat-card-content>

          <mat-card-actions>

            <div class="actions">

              <button mat-mini-fab aria-label="Example icon button with a filter alt icon" (click)="getBooksByTypeAndLanguage()"><mat-icon matTooltip="Filter"> filter_alt </mat-icon></button>

              <button class="float-right" mat-mini-fab aria-label="Example icon button with a cleaning services icon" (click)="ClearFilters()"><mat-icon matTooltip="Clear filters"> cleaning_services </mat-icon></button>
  
            </div>

          </mat-card-actions>
          
        </mat-card>
      </div>
  
  
      <!-- FOUND Books -->
      <div class="col-sm">
        <mat-card class="found-card">
  
          <mat-card-header>
            <mat-card-title>Found Books:</mat-card-title>
          </mat-card-header>

          <tr id="bookId"  *ngFor="let book of books">
            
              <td class="font-italic"> 
                <mat-icon> insert_photo </mat-icon>
                {{book.bookName}} - {{book.authorName}} <br>
                Brief describtion: {{book.describtion}}
                <br>
                <br>
                <mat-divider></mat-divider>
                <br>
              </td>

          </tr>
  
          <mat-card-content>
          </mat-card-content>
  
        </mat-card> 
      </div>
  
    </div>
  </div>
  
