<div class="container">
    <div class="row">
      
      <div class="col-sm">
        <mat-card class="filter-card">
          <mat-card-header>
            <mat-card-title>Filter Books:</mat-card-title>
          </mat-card-header>
      
          <mat-card-content>

      
            <p>
              <mat-radio-group aria-label="Select an option" ng-init="books" [(ngModel)]="selectionLanguage" 
              (ngModelChange)="filterbooksByLanguage()">
                <br>
                <label>Book Language:</label>
                <br>
                <mat-radio-button type="radio" name="filter" value="EN">English</mat-radio-button>
                <mat-radio-button type="radio" name="filter" value="FR">French</mat-radio-button>
                <mat-radio-button type="radio" name="filter" value="AR">Arabic</mat-radio-button>
                <br>
              </mat-radio-group>
            </p>
      
            <br>

            <h4>Book type:</h4>
            <mat-form-field appearance="fill">
              <mat-label>Type</mat-label>
              <mat-select ng-model [(ngModel)]="SelectionType" (ngModelChange)="foundDataByType()">
                <mat-option *ngFor="let t of types" name="filter" [value]="t.value" (click)="getBooksByBookType()">
                  {{t.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <br>

            <button (click)="getBooksByTypeAndLanguage()">send</button>


            <!-- <script>
              angular.module('myFilters', []).
              filter('filters', function () {
                  return function (books) {
                      var items = {
                          out: []
                      };
                      angular.forEach(books, function (value, key) {
                          if (this.genres[value.genre] === true) {
                              this.out.push(value);
                          }
                      }, items);
                      return items.out;
                  };
              });
            </script> -->

          </mat-card-content>
        </mat-card>
      </div>
  
  
      <!-- FOUND Books -->
      <div class="col-sm">
        <mat-card class="found-card">
  
          <mat-card-header>
            <mat-card-title>Found Books:</mat-card-title>
          </mat-card-header>

          <tr id="bookId"  *ngFor="let book of books">
            
              <td class="font-italic"> 
                <mat-icon> insert_photo </mat-icon>
                {{book.bookName}} - {{book.authorName}} <br>
                Brief describtion: {{book.describtion}}
                <br>
                <br>
                <mat-divider></mat-divider>
                <br>
              </td>

          </tr>
  
          <mat-card-content>
          </mat-card-content>
  
        </mat-card> 
      </div>
  
    </div>
  </div>
  
