.example-card {
  max-width: 600px;
  margin-left: 450px;
  margin-top: 75px;
  background: lavenderblush;
}

/* .mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent {
  background-color: white;
  color: palevioletred;
  margin-left: 20px;
} */

.mat-card-content{
  margin-left: 20px;
}

.mat-icon {
  color: palevioletred;
}

.post-block {
  background-color: #f5f5f5;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 50px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 4px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 4px -3px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 4px -3px rgba(0,0,0,0.75);
}

.p-date {
  float:right;
  font-size: 14px;
}

textarea {
  resize: none;
}

a {
  color: black;
}

