.mat-icon {
  color: palevioletred;
}

textarea {
  width: 100%;
}

a {
  color: black;
}

.container {
  margin-top: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  min-height: 80%;
  padding: 20px;
  background-color: lavenderblush;
}


