<mat-card class="example-card">

  <mat-card-header></mat-card-header>

  <mat-card-content> 

      <form  class="text-center border-silver" #book="ngForm" (ngSubmit)="onSubmitBook(book.value)">

        <mat-form-field class="input-full-width">
          <input matInput type="text" name="bookName" ngModel placeholder="Book" required> 
        </mat-form-field>
  
        <br>
        <br>
  
        <mat-form-field class="input-full-width">
          <input matInput type="text" name="author" ngModel placeholder="Author" required> 
        </mat-form-field>
  
        <br>
        <br>
  
        <mat-form-field class="input-full-width">     
          <mat-select name="bookType" ngModel>
              <mat-option value="" disabled>Book Type </mat-option>
              <mat-option *ngFor = "let b of bookTypes" [value]="b.name">
                  {{b.name}}
              </mat-option>
          </mat-select>
        </mat-form-field> 
  
        <br>
        <br>
  
        <mat-form-field class="input-full-width">     
          <mat-select name="language" ngModel>
              <mat-option value="" disabled>Book Language </mat-option>
              <mat-option *ngFor = "let l of languages" [value]="l.value">
                  {{l.viewValue}}
              </mat-option>
          </mat-select>
        </mat-form-field> 
      
        <br>
        <br>
  
        <label for="desc">Book description</label>
        <br>
        <textarea id="desc" name="desc" rows="4" cols="50" placeholder="About book...." ngModel></textarea>
  
        <br>
        <br>
        <br>
  
        <div class="example-button-container">
          <button class="float-right" type="submit" id="submitButton" mat-icon-button ria-label=""><mat-icon> 
            send </mat-icon></button>
        </div>
  
        <br>

        
          
        <!-- [routerLink]="['/booky','users', 1, 'homePage']"mdbWavesEffect -->
        <!-- mat-mini-fab aria-label="Example icon button with a send icon" href="#" -->

      </form>
    
  </mat-card-content>

  <mat-card-actions>
      
  </mat-card-actions>
  
</mat-card>
