<div class="container">

  <form  class="text-center border-silver" #book="ngForm" (ngSubmit)="onSubmitBook(book.value)">

    <mat-form-field class="input-full-width">
      <input matInput 
          required
          type="text" 
          [(ngModel)]="book.bookName" 
          name="bookName" 
          placeholder="Book" 
          #bookName="ngModel"/>
          <div *ngIf="bookName.invalid && (book.submitted || bookName.touched)" class="alert alert-danger">
          <div *ngIf="bookName.errors.required"> Book Name is required. </div>
          </div>
    </mat-form-field>

    <br>
    <br>

    <mat-form-field class="input-full-width">
      <input matInput 
          required
          type="text" 
          [(ngModel)]="book.image" 
          name="image" 
          placeholder="ImageURL" 
          #image="ngModel"/>
          <div *ngIf="image.invalid && (image.submitted || image.touched)" class="alert alert-danger">
          <div *ngIf="image.errors.required"> Book Image is required. </div>
          </div>
    </mat-form-field>

    <br>
    <br>

    <mat-form-field class="input-full-width">
      <input matInput 
          required
          type="text" 
          [(ngModel)]="book.authorName"  
          name="authorName" 
          placeholder="Author" 
          #authorName="ngModel"/>
          <div *ngIf="authorName.invalid && (book.submitted || authorName.touched)" class="alert alert-danger">
          <div *ngIf="authorName.errors.required"> Author Name is required. </div>
          </div>
  </mat-form-field>

    <br>
    <br>

    <mat-form-field class="input-full-width">     
      <mat-select name="bookType" ngModel>
          <mat-option value="" disabled>Book Type </mat-option>
          <mat-option *ngFor = "let b of bookTypes" [value]="b.name">
              {{b.name}}
          </mat-option>
      </mat-select>
    </mat-form-field> 

    <br>
    <br>

    <mat-form-field class="input-full-width">     
      <mat-select name="language" ngModel>
          <mat-option value="" disabled>Book Language </mat-option>
          <mat-option *ngFor = "let l of languages" [value]="l.value">
              {{l.viewValue}}
          </mat-option>
      </mat-select>
    </mat-form-field> 
  
    <br>
    <br>

    <label for="desc">Book description</label>
    <br>
    <textarea id="desc" name="desc" rows="4" cols="50" placeholder="About book...." ngModel></textarea>

    <br>
    <br>
    <br>


    <div class="example-button-container">
      <button class="float-right" type="submit" id="submitButton" [disabled]="!book.valid" mat-icon-button ria-label="">
        <mat-icon> send </mat-icon></button>
    </div>

    <br>

  </form>


</div>

