<div class="container p-3 my-3 border">

    <mat-card class="example-card">
  
      <tr id="test"  *ngFor="let book of books">
          <mat-card-header>          
          </mat-card-header>
  
          <mat-card-content> 
                
              <button class="float-right" mat-mini-fab aria-label="Example icon button with a remove circle icon" (click)="openDialogRemobeFromList(book)"><mat-icon matTooltip="Delete post"> remove_circle </mat-icon></button>

              <br>
              <br>
              <br>
              <br>
              
            <img class="image" src="{{book.image}}" />
            <div class="intro">
              <br>
              <h4>{{book.bookName}}</h4>
              <h4>written by: {{book.authorName}}</h4>
            </div>
  
            <div class="content">
              <h5>Book Type: {{book.bookType}}</h5>
            </div>
  
          </mat-card-content>
          
      
          <mat-card-actions>
              
          </mat-card-actions>
  
          <mat-divider></mat-divider>
          <br>
      </tr>
      
  </mat-card>
  
  
  </div>
  
  
  
  
  
    
  
  